
{% extends "::base.html.twig" %}

{% block title %}AppBundle:Category:viewCategoriey{% endblock %}

{% block body %}
    <h1>Welcome to the Category: {{ category.name }}</h1>
    <a href="{{ path("app_task_add", {"categoryId":category.id}) }}" class="btn btn-default list-group-item">Add Task</a>
    <div class="container">
        <div class="list-group" >
        {#iteracja po taskach kategorii category.tasks bedzie wywolywac category->getTasks #}
        {% for task in category.tasks %}
            <div class="row">
                <div class="col-md-7">
                    <li class="list-group-item">
                        Name of task: {{ task.name }} <br>
                        TO DO: {{ task.description }} <br>
                        Deadline: {{ task.deadline|date("Y-m-d") }} <br>
                        Priority: {{ task.priority }}
                    </li>
                </div>
                {% if task.status is constant("STATUS_TODO", task) %}
                    <div class="col-md-2" id="btnCategoryPosition">
                        <a class="btn btn-block btn-success" id="buttonCategory" href="{{ path("app_task_donetask", {"taskId":task.id}) }}">
                            Done
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-2" id="btnCategoryPosition">
                        <a class="btn btn-block btn-default" id="buttonCategory" href="{{ path("app_task_todotask", {"taskId":task.id}) }}">
                            Change on todo
                        </a>
                    </div>
                {% endif %}
                <div class="col-md-1" id="btnCategoryPosition">
                    <a class="btn btn-block btn-default" id="buttonCategory" href="{{ path("app_task_editformtask", {"categoryId":category.id, "taskId":task.id}) }}">
                        Edit
                    </a>
                </div>
                <div class="col-md-2" id="btnCategoryPosition">
                    <a class="btn btn-block btn-danger" id="buttonCategory" href="{{ path("app_task_delete", {"taskId":task.id}) }}">
                        Delete
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <br>
                    <a class="addComment btn btn-block btn-default" id="{{ task.id }}" href="{{ path("app_comment_add", {"taskId":task.id}) }}" data-path="{{ path("app_comment_add", {"taskId":task.id}) }}">
                        Comment
                    </a>
                </div>
                <div class="pathComments col-md-3" >
                    <br>
                    <a class="showButton btn btn-block btn-default" id="{{ task.id }}" href="{{ path("app_comment_viewcomments", {"taskId":task.id}) }}" data-path="{{ path("app_comment_viewcomments", {"taskId":task.id}) }}">
                        Show comments
                    </a>
                </div>
            </div>
            <br>
            <div class="formComment {{ task.id }}"></div>
            <div class="showComment {{ task.id }} " >
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
